/***  
font-family: 'Raleway', sans-serif;
*/


/*** UTILIDADES ***/

html {
    font-family: 'Raleway', sans-serif;
    background: black;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 3rem;
}


.centrar-texto {
    text-align: center;
    font-size: 40px;
    color:#E41FCF;
}

.contenido-centrado {
    max-width: 800px;
    color: white;
}

.imagen img {
    width: 100%;
}


/* BUSCADOR */

.contenido-buscar {
    margin: 0 0;
    background-color: #000000;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}

.buscar {
    color: #ffffff;
    padding: .2rem;
}

.buscar input[type="text"] {
    flex: 1 1 0;
    margin: 0 .5rem;
}


/**** HEADER  ***/

.site-header {
    background-color: #333333;
    padding: .5rem 3rem 2rem 3rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 1.5rem;
}

.navegacion a:last-of-type {
    margin: 0;
}

.navegacion a:hover {
    color:  rgb(0, 184, 184);
}


/**** INTERIORES ****/

.contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: white;
}

.texto-nosotros blockquote {
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
    padding: 3rem 0 2rem 0;
    color: green;
}

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 100;
}


/*** 2da sección ***/

.boton {
    color: white;
    font-weight: 400;
    background-color: #181818;
    font-size: 20px;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: block;
    text-align: center;
    text-decoration: none;
}

.boton:hover {
    background-color: rgb(138, 101, 1);
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3 {
    text-align: left;
    text-transform: uppercase;
    color: rgb(165, 118, 0);
    font-size: 25px;
}

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.anuncio {
    flex: 0 0 calc(33.3% - 2rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3% - 2rem);
    border: solid #b5b5b5 0.1rem;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3 {
    margin: 0;
}

.contenido-anuncio p {
    margin: 10px;
}

.texto-centrado {
    text-align: center;
    color: #181818;
    font-size: 40px;
}


/******* BLOG **********/


/**** FOOTER ****/

.contenedor-footer {
    display: flex;
    justify-content: space-between;
}

.site-footer {
    background-color: #333333;
    margin: 0;
    padding: 2rem 5rem;
}

.copyright {
    margin: 0;
    color: #ffffff;
}

.realizado {
    color: #ffffff;
    text-decoration: none;
}

.copyright a:hover {
    color: rgb(0, 184, 184);
}

.fresa {
    border-bottom-left-radius: 20px;
}


/*** FORMULARIO ***/

label {
    display: block;
}

fieldset input[type="text"] {
    padding: 1rem;
}
resumen-eunha{
    color: white;
}


/***** SLIDER ****/
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 5s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/***** CSS DE CARRERA ****/

.centrar-texto-Historia {
    text-align: center;
    font-size: 40px;
    color:#7462CE;
}
.centrar-texto-Pre {
    text-align: center;
    font-size: 40px;
    color:#7462CE;
}
.centrar-texto-Debut {
    text-align: center;
    font-size: 40px;
    color:#7462CE;
}
.texto-b-gfr {
    color: #E85959;
}


/******** CSS DE ALBUMES *****/
.centrar-texto-album{
    text-align: center;
    font-size: 40px;
    color:#84D9A2;
}

.resumen-propiedad > ul > li {
    color: #ADC2F7;
} ***/


/****** MENU ANIMADO ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

header{
   /* background-image: url("../img/fondogfriend.jfif"); */
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.fondoheader{
       background-image: url("../img/fondogfriend.jfif");
       height: 400px;

}

header nav {
    height: 70px;
    background: #111111;
    display: flex;
    justify-content: space-between;
}

.icono{
    display: none;
}

.enlaces{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a{
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: #ffffff;
    text-decoration: none;
}

.enlaces a:hover, .active{
    border-top: 2px solid coral;
    border-bottom: 2px solid coral;
}

nav .logo{
    height: 100%;
    background: transparent;
    margin-left: 80px;
}

nav .logo img{
    object-fit: cover;
    height: inherit;
}

header .textos{
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

header .textos h1{
    font-size: 95px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 10px;
}

header .texto h2{
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 950px){
    .icono{
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: #fff;
        background:transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }

    header .textos h1{
        font-size: 75px;
    }


    .enlaces{
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        /* fallback for old browsers */
        background: #F0C27B;  
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #4B1248, #F0C27B); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #4B1248, #F0C27B); 
    }

    .uno{
        -webkit-clip-path: circle(0% at 100% 0);
        clip-path: circle(0% at 100% 0);
    }

    .dos{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }
}

@media screen and (max-width:400px){
    nav .logo{
        margin-left: 20px;
    }
    .icono {
        margin-right: 20px;
    }

    header .textos h1{
        font-size: 65px;
    }

}

